@model Hospital
<h1 style="color:blue">Details</h1>

<ul class="list-group">
	<li class="list-group-item">
		Id hospital @Model.IdHospital
	</li>
	<li class="list-group-item">
		Nombre @Model.Nombre
	</li>
	<li class="list-group-item">
		Direccion @Model.Direccion
	</li>
	<li class="list-group-item">
		Telefono @Model.Telefono
	</li>
</ul>